[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
gcody = "*"
"flake8" = "*"
pyglet = "*"
pycnc = "*"
textualize = "*"
textual = "*"
mkdocs = "*"
materialx = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3"
